/*
Stilizare AnchorPane
 */

AnchorPane{
    -fx-background-color: #e9a8fb;
}


/*
Stilizare butoane
 */

.button{
    -fx-background-color: #d053f3;
    -fx-text-fill: black;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
}


/*
Stilizare header tabel
 */

.table-view .column-header{
    -fx-background-color: #b046c8;
    -fx-border-color: white;
}

.table-view .column-header-background{
    -fx-background-color: white
}

